{
  "apiKey": "",
  "authDomain": "",
  "databaseURL": "",
  "projectId": "",
  "storageBucket": "",
  "messagingSenderId": "",
  "appId": "",
  "measurementId": "",
  "mysqlUser": "",
  "mysqlPass": "",
  "mysqlHost": "",
  "mysqlDB": ""
}
